.gbrt-related-taxonomies-block {
    padding: 25px;
	text-align: center;

	span {
		margin-right: 10px;
		text-transform: uppercase;
		border: 1px solid #b2b2b2;
		border-radius: 25px;
		padding: 10px;
		
		a {
			text-decoration: none;
		}
	}
}